[submodule "libs_sb/spring-launcher"]
	path = libs_sb/spring-launcher
	url = https://github.com/gajop/spring-wrapper-connector.git
[submodule "libs_sb/chiliui"]
	path = libs_sb/chiliui
	url = https://github.com/gajop/chiliui.git
[submodule "libs_sb/chonsole"]
	path = libs_sb/chonsole
	url = https://github.com/gajop/chonsole.git
[submodule "libs_sb/s11n"]
	path = libs_sb/s11n
	url = https://github.com/gajop/s11n.git
[submodule "libs_sb/springmon"]
	path = libs_sb/springmon
	url = https://github.com/gajop/springmon.git
[submodule "libs_sb/chotify"]
	path = libs_sb/chotify
	url = https://github.com/gajop/chotify.git
[submodule "libs_sb/chilifx"]
	path = libs_sb/chilifx
	url = https://github.com/gajop/chilifx.git
[submodule "libs_sb/lcs"]
	path = libs_sb/lcs
	url = https://github.com/gajop/Lua-Class-System.git
[submodule "libs_sb/i18n"]
	path = libs_sb/i18n
	url = https://github.com/gajop/i18n.git
