[submodule "libs/chiliui"]
	path = libs/chiliui
	url = https://github.com/gajop/chiliui.git
[submodule "libs/lcs"]
	path = libs/lcs
	url = https://github.com/gajop/Lua-Class-System.git
[submodule "LuaUI/images/scenedit/resources"]
	path = LuaUI/images/scenedit/resources
	url = https://github.com/gajop/Scenario-Editor-Resources.git
